
.red
{
    background-color: red;

}
.vis-item.vis-range.red.vis-editable
{
    background-color: white;

}
.ppp{
    color:red;
}
#timeline .vis-item.vis-range .vis-item-content
{
    color:red;
    background-color: red;


}
#visjsTimeline
{
  
}