<div id="timeline" #visjsTimeline></div>

<input type="button" (click)="updateGraph()" value="create timeline">

<div *ngIf="root">
<label>find place</label>
<input (keyup)="onKey($event)">
<button class="btn btn-primary" (click)="findContent()">find</button>
<button class="btn btn-primary" (click)="disableEnableActivity(false)">disable</button>
<button class="btn btn-primary" (click)="disableEnableActivity(true)">enable</button>
<button class="btn btn-primary" (click)="setPrice()">set price</button>



<ckeditor [(ngModel)]="model.editorData" [disabled]="isDisabled" [editor]="Editor" (change)="onChange($event)"></ckeditor>
<button (click)="toggleDisabled()">
    {{ isDisabled ? 'Enable editor' : 'Disable editor' }}
</button>



<div *ngIf="selectedNode">
    <p>Price: {{selectedNode.price}}</p>
    <p>Start Date: {{selectedNode.start}}</p>
    <p>End Date: {{selectedNode.end}}</p>

    </div>
    <div *ngIf="root">
            <p>total price {{root.price}} </p>
    </div>
    <app-export-csv [root]="root"></app-export-csv>
    

</div>