/* You can add global styles to this file, and also import other style files */
.vis-item.disabled{
    background-color: gray;
  }
  
  
  .vis-odd
  {
    background:linear-gradient(to right, rgb(20, 95, 12), #42A341, rgb(186, 231, 163));
  }

  .vis-item.enabled{
    background:linear-gradient(to right, #040404, #000000, #656565);
    color:white;
  }
