/* You can add global styles to this file, and also import other style files */
.vis-item.disabled{
    background-color: gray;
  }
  
  
  .vis-odd
  {
    background:linear-gradient(to right, #074C00, #42A341, #B8E2A3);
  }

  .vis-item.enabled{
    background:linear-gradient(to right, #040404, #000000, #656565);
    color:white;
  }
